@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-chart-0: var(--chart-0);
  --color-account-accent-foreground: var(--account-accent-foreground);
  --color-account-accent: var(--account-accent);
  --color-account-primary-foreground: var(--account-primary-foreground);
  --color-account-primary: var(--account-primary);
  --color-account-foreground: var(--account-foreground);
  --color-account: var(--account);
  --color-danger-accent-foreground: var(--danger-accent-foreground);
  --color-danger-accent: var(--danger-accent);
  --color-danger-primary-foreground: var(--danger-primary-foreground);
  --color-danger-primary: var(--danger-primary);
  --color-danger-foreground: var(--danger-foreground);
  --color-danger: var(--danger);
  --color-success-accent-foreground: var(--success-accent-foreground);
  --color-success-accent: var(--success-accent);
  --color-success-primary-foreground: var(--success-primary-foreground);
  --color-success-primary: var(--success-primary);
  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --color-warning-accent-foreground: var(--warning-accent-foreground);
  --color-warning-accent: var(--warning-accent);
  --color-warning-primary-foreground: var(--warning-primary-foreground);
  --color-warning-primary: var(--warning-primary);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning: var(--warning);
  --color-primary-accent-foreground: var(--primary-accent-foreground);
  --color-primary-accent: var(--primary-accent);
  --color-primary-primary-foreground: var(--primary-primary-foreground);
  --color-primary-primary: var(--primary-primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --radius: var(--radius);
  --content-bg: var(--content-bg);
  --sidebar-width: var(--sidebar-width);
  --content-width: var(--content-width);
  --home-background: var(--home-background);
}

@layer tailwind {
  @apply-macro pica.global;
}

@layer base {
  :root {
    &.dark {
      color-scheme: dark;
    }

    --chart-5: 222 31 31;
    --chart-4: 156 39 176;
    --chart-3: 63 81 181;
    --chart-2: 33 150 243;
    --chart-1: 0 150 136;
    --chart-0: 205 220 57;
    --radius: 0.5rem;
    --sidebar-ring: 215 25% 27%;
    --sidebar-border: 214 32% 91%;
    --sidebar-accent-foreground: 215 25% 27%;
    --sidebar-accent: 214 32% 91%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-primary: 215 25% 27%;
    --sidebar-foreground: 215 25% 27%;
    --sidebar: 0 0% 100%;
    --account-accent-foreground: 220 14% 96%;
    --account-accent: 220 14% 96%;
    --account-primary-foreground: 0 0% 100%;
    --account-primary: 245 100% 60%;
    --account-foreground: 220 13% 91%;
    --account: 245 100% 60%;
    --danger-accent-foreground: 0 0% 98%;
    --danger-accent: 0 0% 98%;
    --danger-primary-foreground: 0 0% 100%;
    --danger-primary: 0 84% 60%;
    --danger-foreground: 0 84% 60%;
    --danger: 0 84.2% 60.2%;
    --success-accent-foreground: 0 0% 98%;
    --success-accent: 0 0% 98%;
    --success-primary-foreground: 0 0% 100%;
    --success-primary: 142 76% 36%;
    --success-foreground: 142 76% 36%;
    --success: 142 75.6% 36.3%;
    --warning-accent-foreground: 0 0% 98%;
    --warning-accent: 0 0% 98%;
    --warning-primary-foreground: 0 0% 100%;
    --warning-primary: 37 91% 55%;
    --warning-foreground: 37 91% 55%;
    --warning: 38 92% 50%;
    --primary-accent-foreground: 0 0% 98%;
    --primary-accent: 0 0% 98%;
    --primary-primary-foreground: 0 0% 100%;
    --primary-primary: 322 91% 55%;
    --primary-foreground: 322 91% 55%;
    --primary: 322 91% 55%;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --content-bg: 0 0% 100%;
    --sidebar-width: 300px;
    --content-width: calc(100% - var(--sidebar-width));
    --home-background: var(--background);

    &.dark {
      --chart-5: 222 31 31;
      --chart-4: 156 39 176;
      --chart-3: 63 81 181;
      --chart-2: 33 150 243;
      --chart-1: 0 150 136;
      --chart-0: 205 220 57;
      --radius: 0.5rem;
      --sidebar-ring: 214 14% 94%;
      --sidebar-border: 217 19% 27%;
      --sidebar-accent-foreground: 214 14% 94%;
      --sidebar-accent: 217 19% 27%;
      --sidebar-primary-foreground: 0 0% 100%;
      --sidebar-primary: 214 14% 94%;
      --sidebar-foreground: 214 14% 94%;
      --sidebar: 230 23% 11%;
      --account-accent-foreground: 220 13% 91%;
      --account-accent: 224 71% 4%;
      --account-primary-foreground: 0 0% 100%;
      --account-primary: 245 100% 60%;
      --account-foreground: 213 31% 91%;
      --account: 245 100% 60%;
      --danger-accent-foreground: 210 20% 98%;
      --danger-accent: 220 7% 18%;
      --danger-primary-foreground: 0 0% 100%;
      --danger-primary: 0 84% 60%;
      --danger-foreground: 0 84% 60%;
      --danger: 0 84.2% 60.2%;
      --success-accent-foreground: 210 20% 98%;
      --success-accent: 220 7% 18%;
      --success-primary-foreground: 0 0% 100%;
      --success-primary: 142 76% 36%;
      --success-foreground: 142 76% 36%;
      --success: 142 75.6% 36.3%;
      --warning-accent-foreground: 210 20% 98%;
      --warning-accent: 220 7% 18%;
      --warning-primary-foreground: 0 0% 100%;
      --warning-primary: 37 91% 55%;
      --warning-foreground: 37 91% 55%;
      --warning: 38 92% 50%;
      --primary-accent-foreground: 210 20% 98%;
      --primary-accent: 220 7% 18%;
      --primary-primary-foreground: 0 0% 100%;
      --primary-primary: 322 91% 55%;
      --primary-foreground: 322 91% 55%;
      --primary: 322 91% 55%;
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;
      --card: 0 0% 3.9%;
      --card-foreground: 0 0% 98%;
      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;
      --primary: 0 0% 98%;
      --primary-foreground: 0 0% 9%;
      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;
      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;
      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;
      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 0 0% 83.1%;
      --content-bg: 0 0% 3.9%;
      --sidebar-width: 300px;
      --content-width: calc(100% - var(--sidebar-width));
      --home-background: 0 0% 3.9%;
    }
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::-moz-selection {
    /* Code for Firefox */
    background: #d0a7dd;
    color: white;
  }

  ::selection {
    background: #d0a7dd;
    color: white;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner .dot {
  animation: spin 2s infinite;
}

.spinner .dot:nth-child(2) {
  animation-delay: 100ms;
}

.spinner .dot:nth-child(3) {
  animation-delay: 200ms;
}

.spinner .dot:nth-child(4) {
  animation-delay: 300ms;
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* Language Toggle Switch - New Style */
.language-switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 32px;
}

.language-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-track {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 6;
  bottom: 0;
  background-color: #ebe9eb; /* Dark gray background */
  transition: 0.3s;
  border-radius: 6px; /* Moderately rounded, not fully rounded */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
}

.language-option {
  color: black;
  transition: 0.3s;
  z-index: 1;
  flex: 1;
  font-weight: 300;
  text-align: center;
  line-height: 24px;
  position: relative;
}

.switch-thumb {
  position: absolute;
  height: 24px;
  width: 36px;
  left: 4px;
  bottom: 4px;
  background-color: #8f4487; /* Light blue */
  transition: 0.3s;
  border-radius: 10%; /* Fully rounded circle */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; /* Dark text */
  font-weight: 600;
  font-weight: bold;
  font-size: 12px;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.language-switch input:checked + .switch-track .switch-thumb {
  transform: translateX(40px);
}
